$primary: #ff4500;
$secondary: #1e212c;
$white: #fff;
$black: #000;
$wheat: #f5deb3;
$green: #008000;

$media_xxl: 1400px;
$media_xl: 1200px;
$media_lg: 992px;
$media_md: 768px;
$media_sm: 576px;
$media_xs: 428px;